<div class="row mb-3 align-items-center">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm người dùng">
            <button class="btn btn-primary" >Tìm kiếm</button>
        </div>
    </div>
    <div class="col-md-4 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nguoiDungModal">
            Thêm Người Dùng
        </button>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Mật Khẩu</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Ngày Sinh</th>
            <th scope="col">Giới Tính</th>
            <th scope="col">Vai Trò</th>
            <th scope="col">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let nguoiDung of nguoiDungs">
            <td>{{nguoiDung.id}}</td>
            <td>{{nguoiDung.ten}}</td>
            <td>{{nguoiDung.email}}</td>
            <td>{{nguoiDung.matKhau}}</td>
            <td>{{nguoiDung.trangThai? 'Hoạt Động':'Ngừng Hoạt Động'}}</td>
            <td>{{ nguoiDung.ngaySinh | date:'dd/MM/yyyy' }}</td>
            <td>{{nguoiDung.gioiTinh}}</td>
            <td>{{nguoiDung.vaiTro}}</td>
            <td>
                <button class="btn btn-warning btn-sm" [routerLink]="['/nguoidung', nguoiDung.id]">Sửa</button>
            </td>
        </tr>

    </tbody>
</table>
<div class="modal fade" id="nguoiDungModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Người Dùng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="addNguoiDung()">
                    <div class="mb-3">
                        <label for="maNS" class="form-label">Mã Người Dùng</label>
                        <input type="text" class="form-control" id="maNS" name="ma"
                            placeholder="Nhập Mã Người dùng" [(ngModel)]="newNguoiDung.ma">
                    </div>
                    <div class="mb-3">
                        <label for="tenNS" class="form-label">Tên Người Dùng</label>
                        <input type="text" class="form-control" id="tenNS" name="ten"
                            placeholder="Nhập Tên Người Dùng" [(ngModel)]="newNguoiDung.ten" >
                    </div>
                    <div class="mb-3">
                        <label for="tenNS" class="form-label">Email</label>
                        <input type="text" class="form-control" id="tenNS" name="email"
                            placeholder="Nhập Email Người Dùng" [(ngModel)]="newNguoiDung.email" >
                    </div>
                    <div class="mb-3">
                        <label for="tenNS" class="form-label">Mật Khẩu</label>
                        <input type="password" class="form-control" id="tenNS" name="matKhau"
                            placeholder="Nhập Mật Khẩu Người Dùng" [(ngModel)]="newNguoiDung.matKhau" >
                    </div>
                    <div class="mb-3">
                        <label for="ns" class="form-label">Ngày Sinh</label>
                        <input type="date" class="form-control" id="ns" name="ngaySinh"
                        [(ngModel)]="newNguoiDung.ngaySinh" >
                    </div>
                    <div class="mb-3">
                        <label for="gt" class="form-label">Giới Tính</label>
                        <input type="text" class="form-control" id="gt" name="gioiTinh"
                            placeholder="Nhập Giới Tính Người Dùng" [(ngModel)]="newNguoiDung.gioiTinh" >
                    </div>
                    <label for="">Vai Trò</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" checked value="1" [(ngModel)]="newNguoiDung.vaiTro"  >
                        <label class="form-check-label" for="flexRadioDisabled">
                          Admin
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"  value="2" [(ngModel)]="newNguoiDung.vaiTro" >
                        <label class="form-check-label" for="flexRadioCheckedDisabled">
                          User
                        </label>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
